:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  user-select: none;
  touch-action: none;
}
body {
  margin: 0px;
  padding: 0px;
}
h1 {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
p {
  text-align: center;
  margin: 0px;
  padding: 0px;
}
#app {
  height: 100vh;
  height: 100svh;
  width: 100%;
  background-color: rgb(39, 151, 255);
}
.metronome-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  color: black;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.bpm-display {
  font-size: 24px;
  margin-bottom: 20px;
}
span {
  color: black;
}
input[type="range"] {
  width: 100%;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #007bff;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
label {
  color: black;
}
.visual-aid-container {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.visual-aid {
  position: absolute;
  width: 100%; /* Make sure the visual-aid container fills the parent container */
  height: 100%;
  display: flex;
  align-items: center;
}

.left-line,
.center-line,
.right-line {
  position: absolute;
  top: 50%;
  width: 2px;
  height: 25px;
  background-color: black;
  transition: transform 0.1s ease;
}

.left-line {
  left: 0;
}

.center-line {
  left: 50%;
  width: 2px;
  height: 25px;
  transform: translateX(-50%);
  opacity: 0.6; /* Adjust the opacity to control the fading effect */
}

.right-line {
  right: 0;
}
