.app__footer {
  height: max-content;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 105px;
}
.app__footer_container {
  height: max-content;
  width: 55%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
}
.app__footer_container p {
  font-size: 1.09rem;
  color: rgb(110, 110, 110);
}
.app__footer_container a {
  font-size: 1.08rem;
  color: rgb(69, 177, 255);
}
