.app__header {
  height: 600px;
  width: 100%;
  padding: 40 0px;
  margin-top: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  background-color: rgb(43, 135, 209);
}
.app__header_container {
  height: 100%;
  width: 100%;
}
