.app__navbar {
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.app__navbar_container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;

  background-color: white;
}
.home_button {
  height: 100%;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}
.home_button:hover {
  background-color: rgba(206, 206, 206, 0.5);
}
.home_button p {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgb(10, 110, 110) y;
}
