#container_h1 {
  color: white;
  font-weight: 500;
  font-size: 3rem;
}

#p_id {
  margin-top: 10px;
  color: white;
  font-weight: 200;
  font-size: 1.7rem;
}

.img_waiting {
  width: 10%;
  margin-bottom: 30px;
}

.app__header_container_transparent {
  background-color: none;
}

.game {
  height: 560px;
  width: 100%;
  padding: 0px 0px;
  margin-top: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#waiting {
  background-color: rgb(209, 43, 43);
}

#clickNow {
  background-color: rgb(43, 209, 57);
}

#result {
  background-color: rgb(43, 135, 209);
}
