body {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}
p {
  font-family: Roboto, Arial;
  margin: 0px;
}
a {
  text-decoration: none;
}
h1 {
  font-family: Roboto, Arial;
  margin: 0px;
}
#app {
  height: max-content;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 30px;

  background-color: rgb(217, 228, 238);
}
