body{
    margin: 0;
    padding: 0;
}
p{
    font-family: Roboto,Arial;
    margin: 0;
}
.root{
    height: max-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    gap:30px;

    background-color: rgb(200, 210, 210);
}
.app__navbar{
    height: 5%;
    width: 100%;
    position: fixed;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: white;
}
.app__navbar_container{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:60px;
}
.home_button{
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.home_button:hover{
    background-color: rgba(206, 206, 206, 0.5);
}
.app__header{
    height: 50%;
    width: 100%;
    
    text-align: center;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    background-color: rgb(43, 135, 209);
}
.app__header_container{
    height: 100%;
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.app__header_container h1{
    font-size: 60px;
    margin: 10px;
    color: white
}
.app__header_container p{
    margin-bottom: 15px;
    color: white
}
.app__header_container button{
    height: 35px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    padding: 1 9px;
    background-color: rgb(255, 209, 84);
    cursor: pointer;
}
.app__header_container button:hover{
    background-color: white;
    transition: linear 0.25s;
}