.thumbnail{
    display: block;
    width: 300px;
}
.search-bar{
    display: block;
    font-size: 20px;
}

.video-preview{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}
.channel-picture{
    display: inline-block;
    vertical-align: top;
    width: 50px;
}
.video-info{
    display: inline-block;
    width: 200px;
}
.profile-picture{
    width: 100%;
    border-radius: 70px;
}