.thumbnail{
    width: 300px;
    display: block;
}
.search-bar{
    display: block;
    font-size: 20px;
}
.video-title{
    width: 300px;
    margin-top: 0;
}
.video-preview{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}
.channel-picture{
    vertical-align: top;
    display: inline-block;
    width: 10%;
}
.video-info{
    display: inline-block;
    width: 200px;
}