:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  height: 50vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
h1 {
  margin: 0px;
}
h2 {
  margin: 0px;
}
#app {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#playable {
  height: 100%;
  width: 100%;
  background-color: rgb(37, 145, 245);
}
#info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#logo {
  height: 150px;
  margin-bottom: 30px;
}
#title {
  text-align: center;
  font-weight: 600;
}
#description {
  text-align: center;
  font-weight: 400;
  margin-bottom: 30px;
}
#startbtn {
  height: 50px;
  width: 110px;
  background-color: rgb(248, 189, 79);
  border: none;
  border-radius: 4px;
  padding: 0px;
}
#btntext {
  color: rgb(50, 50, 50);
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0px;
}
#game {
  height: 100%;
  width: 40%;
  margin: 10px 0px;
}
.grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  align-content: space-evenly;
  justify-content: space-evenly;
}
.gamebtn {
  height: 90px;
  width: 90px;
  border: solid;
  border-color: rgba(255, 255, 255, 0.589);
  border-radius: 12px;
}
.number {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
  margin: 15px;
}
.visible {
  height: 90px;
  width: 90px;
  border: none;
  background-color: white;
}
.hidden {
  height: 96px;
  width: 96px;
  border: none;
  color: transparent;
}
#outroinfo {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 400;
  color: white;
  margin: 0px;
}
#outro {
  text-align: center;
  font-size: 2.1rem;
  font-weight: 600;
  color: white;
  margin: 0px;
}
#outrobtn {
  height: 50px;
  width: 110px;
  background-color: rgb(248, 189, 79);
  border: none;
  border-radius: 4px;
  padding: 0px;
  margin-top: 25px;
}
